<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>pxyz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.1.3.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.1.3.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder-2.9.9.min.js') }}"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home.index', page=1) }}">PXYZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.index', page=1) }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.login') }}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.register') }}">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.logout') }}">退出</a>
                </li> 
                {% if session['login_user'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.user') }}">
                            {% if session['login_face'] %}
                                <img src="{{ url_for('static', filename='user/'+session['login_face']) }}" width="20px" alt="">
                            {% else %}
                                <img src="holder.js/20x20">
                            {% endif %}
                            <span>{{session['login_name']}}</span>
                        </a>
                    </li> 
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="keyword">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="do_search">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">©2021 pxyz 备案</p>
                </div>
            </div>
        </div>
    </footer>
    
    {% block script %}
    {% endblock %}
    <script>
        var keyword = document.querySelector("#keyword"),
            do_search = document.querySelector("#do_search");
        do_search.addEventListener("click", function(){
            location.href="{{url_for('home.search')}}?keyword="+keyword.value;
            window.event.returnValue=false;
        });
    </script>
</body>
</html>