{% extends 'home/base.html' %}

{% block content %}
<div class="row">
    {% for search_item in search_items %}
        <div class="col-md-3 mt-3">
            <div class="text-center itemlist">
                {% if search_item.logo %}
                    <img src="{{ url_for('static', filename='item/'+search_item.logo) }}" alt="" width="162px" height="166px">
                {% else %}
                    <img src="holder.js/162x166" alt="">
                {% endif %}
                <span class="text-center">
                <a href="{{ url_for('home.play', item_id=search_item.id, page=1) }}" class="btn">{{ search_item.title[:5] }}</a></span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}